body { 
    padding-top: 80px; 
}

.no-margin-padding {
    padding: 0;
    margin: 0;
}

.img-center {
    margin: 0 auto;
}
.menu-icon-large {
    padding: 40px 40px 0 40px;
    transition: all .2s ease-in-out;
}
.menu-icon-large:hover { 
    transform: scale(1.1); 
    cursor: pointer;
}

.view-title {
    text-align: center;
    margin-top: 0;
}

.device-table tr:not(:first-of-type) {
    transition: all .2s ease-in-out;
}

.device-table tr:not(:first-of-type):hover {
    background-color: #E8D5D5 !important;
    cursor: pointer;
}

.switch-label {
    width: 100%;
}

.sort-form {
    margin-bottom: 10px;
}

.slave-panel {
    min-height: 280px;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

#line-chart {
    width: 100%;
    height: 200px;
}


.menu-icon-large {
    max-height: 250px;
}

.table-icon-col {
    width: 75px;
    text-align: center;
}

.table-slaveid-col {
    width: 115px;
}

.edit-icon:hover {
    cursor: pointer;
}

.schedule-label {
    font-size: 14px;
}



@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}

/* BOUNCE ANIMATION */
.bounce-enter {
  animation: bounce-in 0.25s;
}
.bounce-leave {
  animation: bounce-out 0.25s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* ------------------- */