<style>
    .table-masterid-col {
        width: 200px;
    }
    
    .table-slaveid-col {
        width: auto;
    }
</style>

<template>
    <div>
        <h1 class="view-title">Bussar</h1>
        
        <div class="row">
            <div class="col-md-12">
                <h2>Lägg till buss</h2>
                <form>
                    <div class="form-group">
                        <label for="reg-nr" >Registreringsnummer</label>
                        <input type="text" name="reg-nr" class="form-control" style="max-width: 250px;" v-model="busCreationForm.registrationNumber">
                    </div>
                    <div class="form-group">
                        <label for="slave-select">Koppla till slav (frivilligt)</label>
                        <select name="slave-select" class="form-control" style="max-width: 250px;" v-model="busCreationForm.selectedSlave">
                            <option value="-1"></option>
                            <option v-for="slave in freeSlaves" value="{{slave._id}}">{{slave._master.name}} - {{slave.deviceId}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" @click="createBus" onClick="return false;" class="btn btn-primary">Lägg till</button>
                    </div>
                </form>
            </div>
            <!--<div class="col-sm-12">-->
            <!--  <div class="form-group">-->
            <!--    <label for="filter">Filtrera</label>  -->
            <!--    <select id="filter" class="form-control" style="max-width: 250px;" v-model="masterFilter">-->
            <!--        <option value=""></option>-->
            <!--        <option v-for="master in masters" value="{{master._id}}">{{master.name}}</option>-->
            <!--    </select>-->
            <!--  </div>-->
            <!--</div>-->
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="table-layout: fixed; overflow: hidden;">
                    <tr>
                        <th>Registreringsnummer</th>
                        <th class="table-slaveid-col">Master</th>
                        <th class="table-slaveid-col">Slav ID</th>
                        <th class="table-icon-col">Ändra</th>
                        <th class="table-icon-col">Radera</th>
                    </tr>
                    <tr v-for="bus in buses">
                        <td>
                            <span v-if="!bus.editing">{{bus.registrationNumber | regNr}}</span>
                            <input v-if="bus.editing" type="text" v-model="bus.registrationNumber" v-text="bus.registrationNumber|regNr">
                        </td>
                        <td class="table-slaveid-col">
                            <span>{{bus._slave._master.name}}</span>
                        </td>
                        <td class="table-masterid-col">
                            <span v-if="!bus.editing" data-slaveid="{{bus._slave._id}}">{{bus._slave.deviceId}}</span>
                            <select v-if="bus.editing" v-model="bus.newSlaveId">
                                <option value="{{bus._slave._id}}">{{bus._slave.deviceId}}</option>
                                <option v-for="slave in freeSlaves" value="{{slave._id}}">{{slave._master.name}} - {{slave.deviceId}}</option>
                            </select>
                        </td>
                        <td class="table-icon-col">
                            <img v-if="!bus.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-edit-small.png" class="edit-icon" @click="editBus(bus._id, $index, $event)">
                            <img v-if="bus.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-confirm.png" class="edit-icon" @click="editBus(bus._id, $index, $event)">
                        </td>
                        <td class="table-icon-col"><img src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-delete-small.png" class="edit-icon" @click="deleteBus(bus._id, $index, $event)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '../../auth'
    export default {
        
        data() {
            return {
                masters: [],
                slaves: [],
                freeSlaves: [],
                buses: [],
                
                busCreationForm: {
                    registrationNumber: '',
                    selectedSlave: -1
                },
                
                masterFilter: ''
            }
        },
        
        created: function() {
            this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');            
            this.loadMastersAndSlaves();
        },
        
        methods: {
            
            loadMastersAndSlaves() {
                this.masters = [];
                this.slaves = [];
                this.freeSlaves = [];
                this.$http.get('masters', function(data, status, request) {
                    this.masters = data;
                    
                    for(var i = 0; i < this.masters.length; i++) {
                        if(this.masters[i].slaves) {
                            var master = this.masters[i];
                            console.log('Adding slaves of master ' + master.name);
                            for(var j = 0; j < master.slaves.length; j++) {
                                master.slaves[j]._master = master;
                                this.slaves.push(master.slaves[j]);
                                console.log('Added slave with id ' + master.slaves[j]._id);
                                console.log(master.slaves[j]._master._id);
                            }
                        }
                    }
                    
                    this.loadBuses();
                }.bind(this)).error(function(data, status, request) {
                    console.log('Error when fetching masters. Status:' + status);
                });
            },
            
            loadBuses() {
                
                this.$http.get('buses', function(data, status, request) {
                    console.log(data);
                    console.log('Buses fetched successfully');
                    
                    for(let i = 0; i < data.length; i++) {
    
                        data[i].editing = false;
                        data[i].newSlaveId = null;
                        
                        if(data[i]._slave == null) {
                            data[i]._slave = { deviceId : '', _master: { _id: '' }};
                        }
                        
                    }
                    
                    this.buses = data;

                    // Populate freeSlaves array and attach slaves to buses and masters to slaves
                    for(let i = 0; i < this.slaves.length; i++) {
                        
                        if(this.slaves[i]._bus == null || typeof this.slaves[i]._bus === 'undefined') {
                            this.freeSlaves.push(this.slaves[i]);
                        }
                        else {
                            //Attatch slave object to bus:
                            let bus = this.buses.find(b => b._slave == this.slaves[i]._id);
                            if(typeof bus !== 'undefined') {
                              bus._slave = this.slaves[i];
                            }
                        }
                    }
                    
                    console.log(JSON.stringify(this.buses[0]._slave._master._id));
                    
                });
            },
            
            createBus() {
                var regNr = this.trimRegNr(this.busCreationForm.registrationNumber);
                var selectedSlave = this.busCreationForm.selectedSlave;
                
                if(selectedSlave != -1) var masterId = this.slaves.find(s => s._id == selectedSlave)._master._id;

                
                // Validate registration number
                if(this.validateRegNr(regNr)) {
                    
                    // Create temporary bus object to send to the API
                    var bus = {};
                    bus.registrationNumber = regNr; 
                    bus._slave = selectedSlave;
                    
                    var url = 'buses';
                    if(bus._slave != -1) url = 'masters/'+masterId+'/slaves/'+bus._slave+'/buses';
                    
                    this.$http.post(url, bus, function(data, status, request) {
                        
                        // TODO: Add proper error message with error information
                        if(status != 200) {
                            alert('Error when creating bus.');
                            console.log('Could not add bus');
                        }
                        else {
                            this.loadMastersAndSlaves();
                        }
                      
                    }.bind(this));
                    
                }
                
            },
            
            editBus(id, index, event) {
                console.log('Editing bus ' + id);
                
                var bus = this.buses.find(b => b._id == id);
                
                // Editing done, save bus to db
                if(bus.editing) {
                    
                    bus.registrationNumber = this.trimRegNr(bus.registrationNumber);
                       
                    if(this.validateRegNr(bus.registrationNumber)) {
                        bus.editing = false;
                        this.saveBus(id, bus._slave._id, bus.oldMasterId);   
                    }
                }
                
                //Enable bus for editing
                else {
                    
                    bus.editing = true;
                    
                    bus.oldMasterId = null;
                    if(bus._slave && bus._slave._master) bus.oldMasterId = bus._slave._master._id;
                    
                    console.log('Old master ID set to ' + bus.oldMasterId);
                    
                }
            },
            
            // Save updated bus to database
            saveBus(id, oldSlaveId, oldMasterId) {
                
                console.log('Saving bus to db');
                
                var refBus = this.buses.find(b => b._id == id);
                
                var bus = { 
                    _id: refBus._id,
                    registrationNumber: refBus.registrationNumber,
                    tempQuotient: refBus.tempQuotient,
                    tempMin: refBus.tempMin
                }
                
                if(typeof refBus._slave === 'undefined' || refBus._slave._id == '') {
                    console.log('No slave connection');
                    bus._slave = -1;
                }
                else {
                    console.log('Bus connected to slave ' + refBus.newSlaveId);

                    bus._slave =  refBus.newSlaveId;
                    bus._master = this.slaves.find(s => s._id == refBus.newSlaveId)._master._id;
                    
                    console.log('New Master ID: ' + bus._master);
                }
                
                var url = '';
                if(oldMasterId) url = 'masters/' + oldMasterId + '/';
                if(oldSlaveId && oldSlaveId != -1) {
                    url += 'slaves/'+oldSlaveId+'/buses';  
                    
                    console.log('Old ID:' + oldSlaveId);
                    console.log('New ID:' + bus._slave);
                }
                else {
                   url = 'buses'; 
                }
            
                // Save updated bus to db
                this.$http.put(url, bus, function(data, status, request) {
                    
                    console.log('Bus updated!');
                    this.loadMastersAndSlaves();
                  
                }.bind(this))
                .error(function (data, status, request) {
                    
                    alert('Error updating bus. Error code: ' + status);
                    console.log('Could not update bus');
                    console.log(data);
                    
                });
            
            },
            
            deleteBus(id, index, event) {
                var r = confirm('Är du säker att du vill radera bussen?');
                
                if(r) {
                   console.log('Deleting bus ' + id); 
                   
                    // Delete bus
                    this.$http.delete('buses/' + id, function(data, status, request) {
                        
                        console.log('Bus deleted!');
                        this.buses.splice(this.buses.findIndex(b => b._id == id),1);
                        this.loadMastersAndSlaves();
                        
                    });
                }
                else {
                    console.log('Bus deletion aborted');
                }
            },
            
            updateBusSlave(id) {
                var bus = this.buses.find(b => b._id == id);
                bus._slave = this.slaves.find(slave => slave._id == bus._slave._id);
                console.log('Updating slave ' + id);
            },
            
            // Validates the regnr to make sure it follows the aaa111 format
            validateRegNr(regNr) {
                
                console.log('Validating reg nr');
                
                regNr = regNr.replace(/ /g,'');
                
                if(regNr.length == 6) {
                    
                    let letterPart = regNr.substr(0,3);
                    let numPart = regNr.substr(3,3);
                    console.log(letterPart + ' : ' + numPart);
                    
                    if(!/[^a-z]/i.test(letterPart) && numPart.match(/^\d+$/)) {
                        console.log('Valid registration number!');
                        return true;
                    }
                }
                
                alert('Invalid registration number!');
                console.log('Invalid registration number!');
                return false;
            },
            
            removeFreeSlave(id) {
                this.freeSlaves.splice(this.freeSlaves.findIndex(slave => slave._id == id), 1);
            },
            
            trimRegNr(regNr) {
                return regNr = (regNr.replace(/ /g,'')).toLowerCase();
            }
            
        }
    }
</script>
Blog  Support  Plans & pricing  Documentation  API  Site status  Version info  Terms of service  Privacy policy
JIRA  Confluence  Bamboo  SourceTree  HipChat
Atlassian