<style>

</style>

<template>
    <div>
        <h1 class="view-title">Inställningar</h1>

        <div class="row">
            <div class="col-sm-4 text-center">
                <a v-link="{ path: '/settings/buses' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-bus.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Bussar</h3>
            </div>
            <div class="col-sm-4 text-center">
                <a v-link="{ path: '/settings/slaves' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-slave.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Slavar</h3>
            </div>
            <div class="col-sm-4 text-center">
                <a v-link="{ path: '/settings/masters' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-master.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Masters</h3>
            </div>
        </div>
    </div>
</template>