<style>

</style>

<template>
    <div>
        <h1 class="view-title">Masters</h1>
        
        <div class="row">
            <div class="col-md-12">
                <h2>Lägg till master</h2>
                <form>
                    <div class="form-group">
                        <label for="reg-nr" >ID</label>
                        <input type="text" name="id" class="form-control" style="max-width: 250px;" v-model="newMasterForm.id">
                    </div>
                    <div class="form-group">
                        <label for="reg-nr" >Namn</label>
                        <input type="text" name="name" class="form-control" style="max-width: 250px;" v-model="newMasterForm.name">
                    </div>
                    <div class="form-group">
                        <button type="submit" @click="createMaster" onClick="return false;" class="btn btn-primary">Lägg till</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="table-layout: fixed; overflow: hidden;">
                    <tr>
                        <th>ID</th>
                        <th>Namn</th>
                    <!--<th>Beskrivning</th>-->
                        <th class="table-icon-col">Ändra</th>
                        <th class="table-icon-col">Radera</th>
                    </tr>
                    <tr v-for="master in masters">
                        <td>
                            {{master._id}}
                        </td>
                        <td>
                            <span v-if="!master.editing">{{master.name}}</span>
                            <input v-if="master.editing" type="text" v-model="master.name" v-text="master.name">
                        </td>
                        <!--<td class="table-slaveid-col">
                            <span v-if="!master.editing">---</span>
                        </td>-->
                        <td class="table-icon-col">
                            <img v-if="!master.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-edit-small.png" class="edit-icon" @click="editMaster(master._id, $index, $event)">
                            <img v-if="master.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-confirm.png" class="edit-icon" @click="editMaster(master._id, $index, $event)">
                        </td>
                        <td class="table-icon-col"><img src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-delete-small.png" class="edit-icon" @click="deleteMaster(master._id, $index, $event)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '../../auth'
    export default {
        
        data() {
            return {
                masters: [],
                
                newMasterForm: {
                    id: '',
                    name: ''
                }
            }
        },
        
        created: function() {
            
            this.loadMasters();
            
        },
        
        methods: {
            
            loadMasters() {
                // ---------------------------- //
                // Load all masters from db
                // ---------------------------- //
                this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
                this.$http.get('masters', function(data, status, request) {
                
                    for(let i = 0; i < data.length; i++) {
                        data[i].editing = false;
                    }
                    
                    console.log('Masters fetched successfully');
    
                    this.masters = data;  
                
                }).error(function(data, status, request) {
                    console.log('Error when fetching masters. Status:' + status);
                });                
            },
            
            createMaster() {
            
                var master = {
                    _id: this.newMasterForm.id,
                    name: this.newMasterForm.name
                }
                    
                this.$http.post('masters', master, function(data, status, request) {
                    
                    // TODO: Add proper error message with error information
                    if(status != 200) {
                        alert('Error when creating master.');
                        console.log('Could not add master');
                    }
                    else {
                        console.log('Master added!');
                        this.loadMasters();
                    }
                  
                }.bind(this));
                
            },
            
            editMaster(id, index, event) {
                console.log('Editing master ' + id);
                
                // Editing done, save slave to db
                if(this.masters[index].editing) {
                    this.masters[index].editing = false;
                    
                    if(this.masters[index]._id != this.masters[index].oldId || this.masters[index].name != this.masters[index].oldName) {
                        this.saveMaster(index);   
                    }
                }
                //Enable master for editing
                else {
                    this.masters[index].editing = true;
                    this.masters[index].oldId = this.masters[index]._id;
                    this.masters[index].oldName = this.masters[index].name;
                }        
                
            },
            
            saveMaster(index) {
                var master = this.masters[index];
                console.log('Saving master:');
                console.log(JSON.stringify(master));
                
                // Save updated master to db
                this.$http.put('masters/' + master.oldId, master, function(data, status, request) {
                    
                    console.log('Master updated!');
                  
                }.bind(this))
                .error(function (data, status, request) {
                    
                    alert('Error updating master. Error code: ' + status);
                    console.log('Could not update master');
                    console.log(data);
                    
                });                
            },
            

            deleteMaster(id, index, event) {
                var r = confirm('Är du säker att du vill radera mastern?');
                
                if(r) {
                   console.log('Deleting master ' + id); 
                   
                    // Delete master
                    this.$http.delete('masters/' + id, function(data, status, request) {
                        
                        console.log('Master deleted!');
                        this.masters.splice(index,1);
                        
                    })
                    .error(function (data, status, request) {
                        
                        alert('Error deleting master. Error code: ' + status);
                        console.log('Could not delete master.');
                    });
                }
                else {
                    console.log('Master deletion aborted');
                }
            }
        }
    }
</script>