<style>

</style>

<template>
    <div>
        <h1 class="view-title">Slavar</h1>
        
        <div class="row">
            <div class="col-md-12">
                <h2>Lägg till slav</h2>
                <form>
                    <div class="form-group">
                        <label for="device-id" >ID</label>
                        <input type="text" name="device-id" class="form-control" style="max-width: 250px;" v-model="slaveCreationForm.deviceId">
                    </div>
                    <div class="form-group">
                        <label for="master-select">Master</label>
                        <select name="master-select" class="form-control" style="max-width: 250px;" v-model="slaveCreationForm.selectedMaster">
                            <option v-for="master in masters" value="{{master._id}}">{{master.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" @click="createSlave" onClick="return false;" class="btn btn-primary">Lägg till</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="filter">Filtrera</label>  
                <select id="filter" class="form-control" style="max-width: 250px;" v-model="masterFilter">
                    <option value=""></option>
                    <option v-for="master in masters" value="{{master._id}}">{{master.name}}</option>
                </select>
              </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="table-layout: fixed; overflow: hidden;">
                    <tr>
                        <th>ID</th>
                        <th>Master</th>
                        <!--<th class="table-icon-col">Ändra</th>-->
                        <th class="table-icon-col">Radera</th>
                    </tr>
                    <tr v-for="slave in slaves | filterBy masterFilter in '_master._id'">
                        <td>
                            <span v-if="!slave.editing">{{slave.deviceId}}</span>
                            <input v-if="slave.editing" type="text" v-model="slave.deviceId" v-text="slave.deviceId">
                        </td>
                        <td>
                            <span data-masterSerialNr="{{slave._master.serialNumber}}">{{slave._master.name}}</span>
                        </td>
                        <!--<td class="table-icon-col">-->
                        <!--    <img v-if="!slave.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-edit-small.png" class="edit-icon" @click="editSlave(slave._id, $index, $event)">-->
                        <!--    <img v-if="slave.editing" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-confirm.png" class="edit-icon" @click="editSlave(slave._id, $index, $event)">-->
                        <!--</td>-->
                        <td class="table-icon-col"><img src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-delete-small.png" class="edit-icon" @click="deleteSlave(slave._master._id, slave._id, $index, $event)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '../../auth'
    export default {
        
        data() {
            return {
                masters: [],
                slaves: [],
                
                slaveCreationForm: {
                    deviceId: '',
                    selectedMaster: ''
                },
                
                masterFilter: ''
            }
        },
        
        created: function() {
                this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
                
                this.loadMasters();
        },
        
        methods: {
            
            loadMasters() {
                this.$http.get('masters', function(data, status, request) {
                    
                    console.log('Masters fetched successfully');
                    
                    this.masters = data;
                    
                    for(let i = 0; i < data.length; i++) {
                      
                      // Populate slaves array
                      for(let slave of data[i].slaves) {
                          slave.editing = false;
                          slave._master = data[i];
                          delete slave._master.slaves;
                          this.slaves.push(slave);
                      }
                      
                      delete data[i].slaves;
                      
                    }
                    
                    this.masters = data;  
                    
                    console.log('Masters and slaves added:');
                    console.log(JSON.stringify(this.masters));
                

                    this.slaveCreationForm.selectedMaster = this.masters[0]._id;
                
                }).error(function(data, status, request) {
                    console.log('Error when fetching masters. Status:' + status);
                });
            },
            
            createSlave() {
            
                if(this.slaveCreationForm.deviceId == 0 || this.slaveCreationForm.deviceId > 247) {
                    alert('Välj en ID mellan 1 - 247');
                    return;
                }
                
                // TODO: Check that the selectedMaster is not empty
                var slave = {};
                slave._master = this.slaveCreationForm.selectedMaster;
                slave.deviceId = this.slaveCreationForm.deviceId;
                
                this.$http.post('masters/'+slave._master+'/slaves', slave, function(data, status, request) {
                
                    data.slave._master = this.masters.find(m => m._id == data.slave._master);
                    this.slaves.push(data.slave);
                  
                }.bind(this))
                .error(function(data, status, request) {
                    // TODO: Add proper error message with error information
                    console.log('Error when creating slave. Status:' + status);
                    console.log(data);
                });
            },
            
            editSlave(id, index, event) {
                console.log('Editing slave ' + id);
                
                // Editing done, save slave to db
                if(this.slaves[index].editing) {
                    this.slaves[index].editing = false;
                    
                    if(this.slaves[index].deviceId != this.slaves[index].oldDeviceId) {
                        this.saveSlave(index);   
                    }
                }
                //Enable slave for editing
                else {
                    this.slaves[index].editing = true;
                    this.slaves[index].oldDeviceId = this.slaves[index].deviceId;
                }
            },
            
            // Save updated slave to database
            saveSlave(index) {
                
                console.log('Saving slave to db');
                
                // Save updated slave to db
                this.$http.put('masters/'+ this.slaves[index]._master._id +'/slaves/' + this.slaves[index]._id, this.slaves[index], function(data, status, request) {
                    
                    console.log('slave updated!');
                    this.slaves[index].editing = false;
                  
                }.bind(this))
                .error(function (data, status, request) {
                    
                    // TODO: add proper error handling
                    alert('Error updating slave. Error code: ' + status);
                    console.log('Could not update slave');
                    console.log(data);
                    
                });
            },
            
            deleteSlave(masterId, id, index, event) {
                var r = confirm('Är du säker att du vill radera slaven?');
                
                if(r) {
                   console.log('Deleting slave ' + id); 
                   
                    // Delete slave
                    this.$http.delete('masters/' + masterId + '/slaves/' + id, function(data, status, request) {
                        
                        console.log('slave deleted!');
                        this.slaves.splice(index,1);
                        
                    })
                    .error(function (data, status, request) {
                        
                        alert('Error deleting slave. Error code: ' + status);
                        console.log('Could not delete slave.');
                        console.log(JSON.stringify(data));
                    });
                }
                else {
                    console.log('slave deletion aborted');
                }
                
            }
        }
    }
</script>