<style>

</style>

<template>
    <div>
        <h1 class="view-title">Kontrollpanel</h1>

        <div class="row">
            <div class="col-sm-4 col-md-4 text-center">
                <a v-link="{ path: '/masters' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-bus.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Enheter</h3>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
                <a v-link="{ path: '/settings' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-settings.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Inställningar</h3>
            </div>
            <div class="col-sm-4 col-md-4 text-center">
                <a v-link="{ path: '/users' }">
                    <img id="icon1" src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-user.png" class="menu-icon-large img-responsive img-center" />
                </a>
                <h3>Användare</h3>
            </div>
        </div>
    </div>
</template>
