<template lang="jade">
    div
        h1.view-title Modbus Master
        
        div.row
            div.col-sm-12
                p Var vänlig logga in för att komma åt kontrollpanelen.
</template>

<script>
import auth from '../auth';

export default {
    
    // Check if the user really is logged in or not
    attached: function() {
        if(localStorage.getItem('profile')) {
            this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
            this.$http.get('', function(data, status, request) {
                console.log('User logged in');
                window.location.replace("http://zot.link/cp");
            }).error(function (data, status, request) {
                localStorage.removeItem('profile');
                localStorage.removeItem('userToken');
                console.log('User not logged in');
            });        
        }
    }
}
</script>