<style>

</style>
<template>
  <div>
    <h1 class="view-title">Masters</h1>

    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped device-table">
          <th>#</th>
          <th>Namn</th>
          <th>Status</th>
    
          <tr v-for="master in masters" @click="viewMaster(master._id)">
            <td>{{$index+1}}</td>
            <td>{{master.name}}</td>
            <td>{{master.online}}</td>
          </tr>
        </table>      
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        masters: []
      }
    },
    
    attached: function() {
      
      this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
      console.log(this.$http.headers.common['Authorization']);
      this.$http.get('masters', function(data, status, request) {
      
          console.log('Masters fetched successfully');
          console.log(JSON.stringify(data));
          
          this.masters = data;
          
          for(var i = 0; i < this.masters.length; i++) {
            if(this.masters[i].online) {
              this.masters[i].online = 'Ansluten';
            }
            else {
              this.masters[i].online = 'Offline';
            }
          }

      }).error(function(data, status, request) {
          alert('An error occurred when loading masters from the database');
          console.log('Error when fetching masters. Status:' + status);
      });
    },
    
    methods: {
      viewMaster(id) {
        router.go('/masters/' + id + '/slaves');
      }
    }
  }
</script>