<style>

</style>
<template>
  <div>
    <h1 class="view-title">Enheter</h1>

    <div class="row sort-form">
      
      <form class="form-inline">
        <div class="col-sm-6">
          <div class="form-group">
            
            <label for="orderBy">Sortera efter </label>
            <select id="orderBy" class="form-control" v-model="order">
              <option value="_bus.registrationNumber 1" selected>Reg. nummer, fallande</option>
              <option value="_bus.registrationNumber -1">Reg. nummer, stigande</option>
              <!--<option value="_bus.connectionStatus 1" selected>Anslutning, fallande</option>-->
              <!--<option value="_bus.connectionStatus -1">Anslutning, stigande</option>-->
            </select>
            
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group  pull-right-sm">
            <label for="search">Sök</label>  
            <input id="search" type="text" class="form-control" v-model="filterRegNr" />
          </div>
        </div>
      </form>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped device-table">
          <th>#</th>
          <th>Registreringnummer</th>
    
          <tr v-for="slave in slaves | orderBy sortKey sortOrder | filterBy filterRegNr in '_bus.registrationNumber'" @click="viewSlave(slave._id)">
            <td>{{$index+1}}</td>
            <td>{{slave._bus.registrationNumber | regNr}}</td>
          </tr>
        </table>      
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            slaves: [],
            order: '_bus.registrationNumber',
            filterRegNr: ''
        }
    },

    attached: function() {

        //Load slaves for the specified master
        this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
        this.$http.get('masters/' + this.$route.params.id + '/slaves', function(data, status, request) {

            console.log('Slaves fetched successfully');
            console.log(JSON.stringify(data));
            
            // TODO: Connectionstatus should be saved in db
            var i = 0;
            while(i < data.length){
                if(data[i]._bus != null) {
                    data[i]._bus.connectionStatus = false;
                    i++;
                }
                else {
                    //Remove slaves with no bus
                    data.splice(i, 1);
                }
            }
            
            this.slaves = data;
    
            this.viewSlaves();

        }.bind(this));
    },

    methods: {
        viewSlave(id) {
            console.log('Navigating to slave ' + id);
            router.go('/slaves/' + id);
        },
        
        viewSlaves() {
            console.log('Number of slaves: ' + this.slaves.length);
            console.log(JSON.stringify(this.slaves));
            for(let i = 0; i < this.slaves.length; i++) {
                console.log(this.slaves[i]._bus.registrationNumber);
            }
        }
    },

    // Computed properties for sorting and ordering the bus list.
    computed: {
        sortKey: {
            get: function() {
                return this.order.split(' ')[0]; // return the key part
            }
        },
        sortOrder: {
            get: function() {
                return this.order.split(' ')[1]; // return the order part
            }
        }
    }
}
</script>