<style>

</style>

<template>
<div>
    <h1 class="view-title">Buss - {{slave._bus.registrationNumber | regNr}}</h1>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default slave-panel">
                <div class="panel-heading">
                    <h4 class="no-margin-padding">Status</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Vattentemperatur </td><td>{{temp1}}  &deg;C</td>
                        </tr>
                        <tr>
                            <td>Returtemperatur </td><td>{{temp2}} &deg;C</td>
                        </tr>
                        <!--<tr>
                            <td>Laddning </td><td>Nej</td>    
                        </tr>-->
                        <tr>
                            <td>Automatisk värme </td><td>{{heatStatus}}</td>
                        </tr>
                        <tr>
                            <td>Spänning </td><td>OK</td>
                        </tr>
                    </table>
                    <h6>Schemaläggning</h6>
                    
                    <label for="schedule-start" class="schedule-label">Start</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text" class="form-control input-small" v-timepicker="schedule.startValue">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    
                    <label for="schedule-start" class="schedule-label">Stopp</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text" class="form-control input-small" v-timepicker="schedule.stopValue">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default slave-panel">
                <div class="panel-heading"><h4 class="no-margin-padding">Returtemperatur</h2></div>
                <div class="panel-body">
                    <div id="line-chart"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="no-margin-padding">Styrning</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="control-mode">Värmeläge</label>
                        <select name="control-mode" class="form-control" v-model="operationMode" @change="sendSlaveData()">
                            <option value="1">Schemalagd</option>
                            <option value="4">Manuell</option>
                            <option value="2">Värme på</option>
                            <option value="3">Värme av</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="no-margin-padding">{{operationModeName}}</h2></div>
                <div class="panel-body">
                    <!-- Automatic controls --->
                    <div class="automatic-controls-container" v-if="operationMode == 1">
                        <form class="form">
                            <div class="form-group">
                                <p>Temperaturen regleras automatiskt under schemalagd tid utifrån bussens <a href="#" @click="$refs.tempControls.show()">temperaturinställningar.</a></p>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Manual controls --->
                    <div class="manual-controls-container" v-show="operationMode == 4">
                        <form class="form">
                            <div class="form-group col-sm-4">
                                <label for="relay-water" class="switch-label">Relä 1 - Vatten</label>
                                <input type="checkbox" name="relay-water"  v-toggle="relays[0]">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="relay-air" class="switch-label">Relä 2 - Luft</label>
                                <input type="checkbox" name="relay-air"  v-toggle="relays[1]">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="relay-pump" class="switch-label">Relä 3 - Pump</label>
                                <input type="checkbox" name="relay-pump"  v-toggle="relays[2]">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" @click="$refs.tempControls.show()">Konfigurera temperaturförhållande för buss</button>
            <temp-controls v-ref:temp-controls></temp-controls>                
        </div>
    </div>
</div>
</template>

<script>
import auth from '../auth'
import TempControls from './tempControls.vue'

    export default {
        components: {
            TempControls
        },
        
        data() {
            return {
                slave: {},
                temp1: 'Laddar...',
                temp2: 'Laddar...',
                operationMode: 1,
                schedule: {
                    startInput: '',
                    startValue: '',
                    stopInput: '',
                    stopValue: '',
                    submitTimer: null
                },
                relays: [false, false, false],
                temp: {
                    quotient: null,
                    min: null
                },
                heatStatus: 'Laddar...',
                state: 'init'
            }
        },
        ready: function() {
            this.$watch('relays', this.sendSlaveData);
        },
        attached: function() {

            this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
            
            this.temp1 = 'Laddar...';
            this.temp2 = 'Laddar...';
            
            console.log('Attached');
            
            // Load selected slave from db
            this.$http.get('slaves/' + this.$route.params.id, function(data, status, request) {
                
                this.slave = data;
                
                // TODO: Set temperatures  to last datalog value until stream is started
                this.slave.incomingWaterTemp = ''; 
                this.slave.returnWaterTemp = '';   // TODO: Set to last datalog value until stream is started
                
                if(this.slave._bus.scheduleStart) { 
                    this.schedule.startValue = this.slave._bus.scheduleStart;
                }
                else {
                    this.schedule.startValue = '12:00';
                }
                if(this.slave._bus.scheduleStart) { 
                    this.schedule.stopValue = this.slave._bus.scheduleStop;
                }
                else {
                    this.schedule.stopValue = '12:30';
                }
                
                this.$watch('schedule.startValue', this.scheduleUpdate);
                this.$watch('schedule.stopValue', this.scheduleUpdate);
                
                console.log('Slave loaded:');
                console.log(JSON.stringify(this.slave));
                
                console.log('Broadcasting to temp chart component');
                this.$broadcast('busLoaded', this.slave._bus);
                
                this.initiateStream();
                this.loadTempLogs();
                
                this.state = 'ready';
                //this.tempLogInterval = window.setInterval(()=> { this.loadTempLogs(); }, 4000);

            });
        },
        detached: function() {
            console.log('Disconnect socket.io');
            window.clearInterval(this.tempLogInterval);
            this.io.disconnect();
        },
        
        methods: {
            
            loadTempLogs() {
                var fetchFrom = encodeURIComponent(moment().subtract(12, 'hours').format());
                console.log('Fetch from: ' + fetchFrom);
                this.$http.get('buses/'+this.slave._bus._id+'/templogs', { from: fetchFrom }, function(data, status, request) {
                    if(status != '200') return console.log('Could not load temp logs');

                    this.slave._bus.tempLogs = data;
                    console.log('Templogs loaded!');
                    
                    if(this.slave._bus.tempLogs.length > 1) {
                        this.temp2 = this.slave._bus.tempLogs[this.slave._bus.tempLogs.length-1].inTemp;   
                        this.temp1 = this.slave._bus.tempLogs[this.slave._bus.tempLogs.length-1].returnTemp;  
                    }
                    
                    
                    this.drawTempChart();  
                }.bind(this));
            },
            
            drawTempChart() {
                var _this = this;
                google.load('visualization', '1', { callback: drawBackgroundColor, packages: ['corechart', 'line']});   
                
                //Initiate example line chart, rewrite this!!!!
                console.log('Beginning ready hook');

                //google.setOnLoadCallback(drawBackgroundColor);
                console.log('Has set load callback');

                function drawBackgroundColor() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('datetime', 'Tid');
                    data.addColumn('number', 'Temperatur');
                    
                    var dataRows = [];
                    var maxVal = 35;
                    var minVal = 15;
                    for(let tempLog of _this.slave._bus.tempLogs) {
                        if(tempLog.returnTemp > maxVal) maxVal = tempLog.returnTemp + 3;
                        if(tempLog.returnTemp < minVal) minVal = tempLog.returnTemp - 3;
                        var row = [new Date(tempLog.dateTime), tempLog.returnTemp];
                        dataRows.push(row);
                    }
                    
                    var verticalTicks = [];
                    var min = Math.round(minVal / 10) * 10;
                    for(var i = min; i < maxVal; i+= 5) {
                        verticalTicks.push(i);
                    }
                
                    data.addRows(dataRows);
                    
                    var options = {
                        hAxis: {
                            title: 'Tid',
                            format: 'HH:mm',
                            gridlines: {
                                count: 6
                            }
                        },
                        vAxis: {
                            title: 'Temperatur',
                            viewWindow:{
                                max: maxVal,
                                min: minVal
                            },
                            ticks: verticalTicks
                        },
                        legend: {position: 'none'},
                        animation: {
                            //startup: true,
                            //duration: 600
                        }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('line-chart'));
                    chart.draw(data, options);
                }
            },
            
            initiateStream() {
                this.io = io.connect({'force new connection': true });
                
                this.io.on('connect', () => {
                    console.log('On connect!!!');
                    this.io.on('authenticated', function () {
                        console.log('Successfully authenticated with socket.io!');
                    })
                    .emit('authenticate', { token: localStorage.getItem('userToken') }); // send the jwt                    
                });
                    
                this.io.on('temp1', function(temp) {
                    console.log('Temperature 1: ' + temp);
                    this.temp1 = temp.toFixed(1);
                }.bind(this));
                
                this.io.on('temp2', function(temp) {
                    console.log('Temperature 2: ' + temp);
                    this.temp2 = temp.toFixed(1);
                }.bind(this));
                
                this.io.on('heatStatus', function(status) {
                    console.log('Värmestatus: ' + status);
                    if(status) {
                        this.heatStatus = 'På';
                    }
                    else {
                        this.heatStatus = 'Av';
                    }
                }.bind(this));

                // Get id to use for communication
                this.io.on('setId', function(data) {
                    console.log('Got ID from server: ' + data.id);
                    this.io.clientId = data.id;
                    console.log('Master ID: ' + this.slave._master);
                    //Send application related data
                    this.io.emit('slaveConnect', { clientId: this.io.clientId, data: { busId: this.slave._bus._id, slaveDeviceId: this.slave.deviceId, masterId: this.slave._master }});
                }.bind(this));                         
                
                // Update slave data
                this.io.on('newSlaveData', function(data) {
                    
                    console.log('Got new data!');
                    console.log(JSON.stringify(data));
                }.bind(this));                    
            },
            
            // Saves the updated schedule times to the DB
            saveTimeSchedule(start, stop) {
                this.slave._bus.scheduleStart = this.schedule.startValue;
                this.slave._bus.scheduleStop = this.schedule.stopValue;
                
                console.log('Saving bus temperature settings to db: ');
                console.log(this.slave._bus.scheduleStart);
                console.log(this.slave._bus.scheduleStop);
            
                var bus = {
                    _id: this.slave._bus._id,
                    _slave: this.slave._bus._slave,
                    registrationNumber: this.slave._bus.registrationNumber,
                    scheduleStart: this.slave._bus.scheduleStart,
                    scheduleStop: this.slave._bus.scheduleStop,
                    preventSlaveUpdate: true
                }

                console.log('Saving bus:');
                console.log(JSON.stringify(bus));
                
                // Save updated bus to db
                this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
                this.$http.put('buses', bus, function(data, status, request) {
                    
                    console.log('Bus updated!');
                  
                }.bind(this))
                .error(function (data, status, request) {
                    
                    alert('Error updating bus. Error code: ' + status);
                    console.log('Could not update bus');
                    console.log(data);
                    
                });                
            },
            
            sendSlaveData() {
                if(this.state != 'ready') return;
                
                console.log("Relay states: " + JSON.stringify(this.relays));
                
                var slaveData = {};
                
                slaveData.operationMode = this.operationMode;
                slaveData.masterId = this.slave._master;
                slaveData.slaveId = this.slave.deviceId;
                slaveData.relayStates = this.relays;
                slaveData.temp = this.temp;
                slaveData.schedule = {};
                slaveData.schedule.start = this.timeToMinutesAfterMidnight(moment(this.schedule.startValue, 'HH:mm'));
                slaveData.schedule.stop = this.timeToMinutesAfterMidnight(moment(this.schedule.stopValue, 'HH:mm'));
                
                console.log('Operation mode: ' + slaveData.operationMode);

                this.io.emit('sendSlaveData', { data: slaveData });           
            },
            
            scheduleUpdate() {
                console.log('ScheduleUpdate');
                if(this.schedule.startValue == this.schedule.stopValue) {
                    alert("Start- och stopptid måste vara olika!! Klantskalle!");
                    this.schedule.startValue = moment(this.schedule.stopValue, 'HH:mm').subtract(1, 'minute').format('HH:mm');
                }
                else {
                    this.sendSlaveData();
                    this.resetTimepickerSubmitTimer();   
                }
                
            },
            
            // Use a timer to submit the new timepicker values when the timepicker has not been
            // used for at least 2 seconds. This is to prevent it from submitting new values each time
            // the user clicks the arrows to change the schedule time. 
            resetTimepickerSubmitTimer() {
                if(this.schedule.submitTimer) {
                    clearTimeout(this.schedule.submitTimer);
                    this.schedule.submitTimer = null;
                }
                
                this.schedule.submitTimer = setTimeout(() => {
                
                    
                    var startTime = this.timeToMinutesAfterMidnight(moment(this.schedule.startValue, 'HH:mm'));
                    var stopTime  = this.timeToMinutesAfterMidnight(moment(this.schedule.stopValue, 'HH:mm'));
                    
                    //Save schedule values to database
                    this.saveTimeSchedule();
                    
                    console.log('Timepick timeout!'); 
                    console.log('StartTime minutes since midnight: ' + startTime);
                    console.log('StopTime minutes since midnight: ' + stopTime);
                    
                    this.schedule.submitTimer = null; 
                    
                }, 3000);
            },
            
            timeToMinutesAfterMidnight(time) {
                var midnight = time.clone().startOf('day');
                return time.clone().diff(midnight, 'minutes');
            }
            
        },
        
        computed: {
        
          operationModeName: function() {
              if(this.operationMode == 1) {
                  return 'Automatisk  kontroll';
              }
              else if(this.operationMode == 4){
                  return 'Manuell  kontroll:';
              }
              else if(this.operationMode == 2) {
                  return 'Värme på';
              }
              else if(this.operationMode == 3) {
                  return 'Värme av';
              }
            }
        },
        
        events: {
        
            // Get temperature settings from tempControls
            'updateTemp': function(temp) {
            
                this.temp = temp;
                console.log('Updating temp from tempContols component: ' + JSON.stringify(this.temp));
                
                this.sendSlaveData();
                
            }
        }

    }
</script>