<style>
        #value-span,
        #value-input {
            width: 50%;
            float: left;
            display: block;
            text-align: center;
            margin: 0;
        }
        
        body {
            width: 100%;
        }
        
        .tc-container {
            width: 560px;
            min-width: 450px;
            height: 560px;
            position: absolute;
            display: none;
            z-index: 99;
        }
        
        #chart,
        #v-slider,
        .v-slider-container,
        .h-slider-container {
            float: left;
        }
        
        #v-slider {
            display: inline-block;
            margin-top: 50px;
            height: 320px;
        }
        
        .h-slider-container {
            width: 420px;
            margin-left: 80px;
        }    
        
        .tc-btn-container {
            text-align: center;
            width: 100%;
        }
        
        .tc-btn-container button {
            margin-top: 20px;
        }
        
        .tc-btn-container button:first-child {
            margin-right: 20px;
        }
        
        #tc-page-cover {
            position: fixed;
            display: none;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background-color: #000;
            z-index: 98;
        }
    
</style>

<template>
    <div id="tc-page-cover"></div>
    <div class="panel panel-default tc-container" id="tc-container">
        <div class="panel-heading">
            <h4 class="no-margin-padding">Konfiguration av uppvärmning</h4>
        </div>
        <div class="panel-body">
            <div id="v-slider"></div>
            <div id="chart" style="min-width: 500px; height: 400px; margin: 0 auto">
            </div>
    
            <div class="h-slider-container">
                <div id="h-slider"></div>
            </div>
            
            <div class="tc-btn-container">
                <button class="btn btn-success" @click="saveSettings()">Spara</button>
                <button class="btn btn-danger" @click="discardChanges()">Avbryt</button>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        
        data() {
            return {
                chart:{},
                oldRelation: 1,
                oldM: 20,
                relation: 1,        // k value of kx+m
                m: 20,
                hSlider: {},
                vSlider: {}
            }
        },
        
        props: ['bus'],
        
        ready: function() {
            $('#tc-container').center();
            this.initChart();
        },
  
        events: {
            'busLoaded': function(bus) {
                console.log('Updating chart values on tempControls');
                this.bus = bus;
                this.relation = this.bus.tempQuotient;
                this.m = this.bus.tempMin;   
                this.vSlider.noUiSlider.set(this.m);
                this.hSlider.noUiSlider.set(this.relation);
                this.updateGraph();
            }
        },
        
        methods: {
            
            updateBus() {
                this.bus.tempQuotient = this.relation;
                this.bus.tempMin = this.m;
                
                this.updateGraph();
                
                var bus = {
                    _id: this.bus._id,
                    _slave: this.bus._slave,
                    registrationNumber: this.bus.registrationNumber,
                    tempQuotient: this.bus.tempQuotient,
                    tempMin: this.bus.tempMin
                }

                console.log('Saving bus:');
                console.log(JSON.stringify(bus));
                // Save updated bus to db
                this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken');
                this.$http.put('buses', bus, function(data, status, request) {
                    
                    console.log('Bus updated!');
                  
                }.bind(this))
                .error(function (data, status, request) {
                    
                    alert('Error updating bus. Error code: ' + status);
                    console.log('Could not update bus');
                    console.log(data);
                    
                });
            },
            
            saveSettings() {
                
                var temp = {};
                temp.quotient = this.relation;
                temp.min = this.m;
                
                this.$dispatch('updateTemp', temp);
                
                this.updateBus();
                this.hide();
            },
            
            discardChanges() {
                this.hide();
                this.relation = this.oldRelation;
                this.m = this.oldM;
                this.vSlider.noUiSlider.set(this.m);
                this.hSlider.noUiSlider.set(this.relation);
            },

            show() {
                this.oldRelation = this.relation;
                this.oldM = this.m;
                console.log('Show temp chart');
                $('#tc-page-cover').show();
                $('#tc-container').show();
            },
            
            hide() {
                console.log('Bus id:');
                console.log(this.bus);
                $('#tc-page-cover').hide();
                $('#tc-container').hide();
            },
            
            initChart() {
                console.log('Init chart');
                
                this.chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'chart',
                        type: 'area',
                        animation: {
                            duration: 0
                        },
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        enabled: false
                    },
                    title: {
                        text: 'Temperaturförhållande'
                    },
                    credits: false,
                    xAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Utetemperatur'
                        },
                        min: -40,
                        max: 30
                    },
                    yAxis: {
                        title: {
                            text: 'Returtemperatur'
                        },
                        min: 10,
                        max: 50
                    },
                    plotOptions: {
                        area: {
                            pointStart: -40,
                            marker: {
                                enabled: false,
                                symbol: 'circle',
                                radius: 2,
                                states: {
                                    hover: {
                                        enabled: true
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Temperaturförhållande',
                        color: '#ED6161',
                        data: [
                            [-40, 20],
                            [50, 40]
                        ]
                    }]
                });

                this.hSlider = document.getElementById('h-slider');
                this.vSlider = document.getElementById('v-slider');
                
                noUiSlider.create(this.vSlider, {
                    start: 20,
                    orientation: 'vertical',
                    direction: 'rtl',
                    step: 0.1,
                    range: {
                        'min': 10,
                        'max': 25
                    }
                });
    
                noUiSlider.create(this.hSlider, {
                    start: 2,
                    range: {
                        'min': 1,
                        'max': 2
                    }
                });
            
    
                this.vSlider.noUiSlider.on('update', function() {
                    this.m = parseFloat(this.vSlider.noUiSlider.get());
    
                    this.updateGraph();
                }.bind(this));
    
                this.hSlider.noUiSlider.on('update', function() {
                    console.log('H slider update');
                    this.relation = parseFloat(this.hSlider.noUiSlider.get());
    
                    this.updateGraph();
                }.bind(this));                
            },
            
            updateGraph() {
                this.chart.series[0].setData([
                    [-40, this.relation * this.m],
                    [30, this.m]
                ]);               
            }
        }
    }
</script>
