<template>
    <div>
        <h1 class="view-title">Användare</h1>
        
        <div class="row">
            <div class="col-md-12">
                <h2>Ny Användare</h2>
                <form>
                    <div class="form-group">
                        <label for="name" >Namn</label>
                        <input type="text" name="name" class="form-control" style="max-width: 250px;" v-model="userform.name">
                    </div>
                    <div class="form-group">
                        <label for="email">E-post</label>
                        <input type="text" name="email" class="form-control" style="max-width: 250px;" v-model="userform.email">
                    </div>
                    <div class="form-group">
                        <button type="submit" @click="createUser" onClick="return false;" class="btn btn-primary">Lägg till</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="table-layout: fixed; overflow: hidden;">
                    <tr>
                        <th>E-post</th>
                        <!--<th class="table-icon-col">Ändra</th>-->
                        <th class="table-icon-col">Radera</th>
                    </tr>
                    <tr v-for="user in users">
                        <td>{{user.email}}</td>
                        <td class="table-icon-col"><img src="https://s3.eu-central-1.amazonaws.com/ju-media/modbus/icon-delete-small.png" class="edit-icon" @click="deleteUser($index)"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: {},
                userform: {
                    name: '',
                    email: ''
                }
            }
        },
        attached() {
            
            this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('userToken'); 
            this.fetchUsers();
        },
        methods: {
            fetchUsers() {
                console.log('Fetching users');
               
               this.$http.get('users', function(data, status, request) {
                   
                   console.log('Got users:');
                   console.log(JSON.stringify(data));
                   
                   this.users = data;
                   
                }.bind(this)).error(function() {
                        console.log('Could not fetch users.');
                });
            },
            
            createUser() {
                console.log('Creating user');
                var user =   {
                    "connection": "Username-Password-Authentication",
                    "email": this.userform.email,
                    "email_verified": false,
                    "name": this.userform.name,
                    "nickname": this.userform.name,
                    "password": 1234
                }
                
                this.$http.post('users', user, function(data, status, request) {
    
                    console.log('User created successfully');
                    console.log(JSON.stringify(data));
                    
                    this.users.push(data.user);
                    
                }.bind(this)).error(function() {
                    console.log('Could not create user');
                })
                
            },
            
            deleteUser(index) {
                var userId = this.users[index]._id;
                
                console.log('Deleting user with id ' + userId);
                this.$http.delete('users/' + userId, (data, status, request) => {
                    console.log('User removed successfully');
                    this.users.splice(index, 1);
                }).error(() => {
                    console.log('Could not delete user');
                });
            }
        }
    }
</script>