<style>
    .view {
      transition: all .3s ease;
    }
    .test-enter, .test-leave {
      opacity: 0;
      transform: translate3d(10px, 0, 0);
    }
    .v-link-active {
      color: red;
    }
    [v-cloak] {
      display: none;
    }
    
    .logged-in-user-field {
      float: right;
      margin-top: 20px;
    }
</style>

<template lang="jade">
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
      
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://zot.link/cp') Modbus Master
          
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right(v-if="!loggedIn")
            button.btn.btn-default(type='submit', @click="login()", onClick="return false;") Logga in
            
          div(v-if="loggedIn").logged-in-user-field
            span(style="margin-right: 10px") Du är inloggad
            a(href="#" @click="logout()") Logga ut

    div.container
    p(v-show="authenticating", style="color:red") Authenticating...
    a(href="#", transition="bounce", v-show="this.$route.path != '/cp' && this.$route.path != '/home' ", @click="goBack")<< Tillbaka
    #{'router-view'}."view"(transition="test", transition-mode="out-in", keep-alive)
    
    .container
      hr
      footer
        p © JOPP AB 2015
    
    script(src='https://www.google.com/jsapi')  // Google charts
    script(src='/js/build.js')
</template>

<script>
import lock from './auth';

export default {
    replace: false,
    data() {
        return {
            msg: 'TASLMÖF',
            authenticating: false,
            curRoute: this.$route.path,
            auth: {},
            
            loginForm: {
              username: '',
              password: ''
            },
            
            loggedIn: false
        }
    },
    created() {
      if(localStorage.getItem('userToken') != null) this.loggedIn = true;
    },
    methods: {
        goBack: function() {
          window.history.back();
        },
        
        login() {
          // Show the Lock Widget and save the user's JWT on a successful login
          lock.show({ dict: 'sv' }, (err, profile, token) => {
            if (err) {
              // Error callback
              console.error("Something went wrong: ", err);
            }
            else {
              localStorage.setItem('profile', JSON.stringify(profile));
              localStorage.setItem('userToken', token);
              this.loggedIn = true;
              
              this.$route.router.go('/cp');
            }
  
          });
        },
        
        logout() {

          // Remove the profile and token from localStorage
          localStorage.removeItem('profile');
          localStorage.removeItem('userToken');
          this.loggedIn = false;
          this.$route.router.go('/home');

        }
    }
}
</script>