doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/timepicker/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='/css/nouislider.min.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/nouislider.min.js')
    script(src='/js/jquery-center.js')
    script(src='/js/timepicker/bootstrap-timepicker.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='https://code.highcharts.com/modules/exporting.js')
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js')
    //script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='//cdn.auth0.com/js/lock-7.12.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js')

  body
    block content
    
    .container
      hr
      footer
        p © JOPP AB 2015
      // /container
    
    script(src='https://www.google.com/jsapi')  // Google charts
    script(src='/js/build.js')

